body, html {
    margin: 0px;
    padding: 0px;
    font-family: 'ubuntu', sans-serif;
}

header {
    background-image: url('media/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    max-width: 1800px;
    margin: 0 auto 2rem auto;
    padding : 2rem;
    text-align: center;
}

h3 {
    font-size: 2em;
    color: #210B2C;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.6em;
    font-weight: 400;
    color: #210B2C;
    margin: 0;
}

h6 {
    font-size: 1.32em;
    color: #210B2C;
    margin-top: 20px;
}

.intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.intro-text {
    flex: 1;
    min-width: 200px;
    margin-right: 1rem;
    text-align: left;
}

.description-container {
    margin-right: 1rem;
}

.description-container .description {
    color: black;
    font-weight: 100;
}

.description-container .description {
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.3);
}

.intro-image {
    flex: 1;
    max-width: 350px; /* Adjust as needed */
}

.intro-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.intro-links {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    width: 100%;
}

.links-left, .links-right {
    display: flex;
    align-items: center;
}

.links-left {
    flex: 1;
    justify-content: flex-start;
}

.links-right {
    justify-content: flex-end;
}

.intro-links .link {
    display: flex;
    align-items: center;
    margin: 0.3rem;
    text-decoration: none;
    font-size: .9em;
    color: #E5FCFF;
    transition: color 0.3s;
}

.links-left .link:hover {
    color: white;
}

.links-right .link:hover {
    color: #4B70F5;
}

.intro-links .icon {
    width: 18px; /* Adjust size as needed */
    height: 18px; /* Adjust size as needed */
    margin-right: 8px;
    transition: color 0.3s;
}

.links-left .icon{
    filter: invert(100%) sepia(28%) saturate(5320%) hue-rotate(176deg) brightness(108%) contrast(105%);
}

.links-left .link:hover .icon {
    filter: invert(97%) sepia(3%) saturate(14%) hue-rotate(47deg) brightness(102%) contrast(106%);
}


.links-right .icon{
    filter : invert(100%) sepia(0%) saturate(7474%) hue-rotate(52deg) brightness(96%) contrast(110%)
}

.links-right .link {
    background-color: #4B70F5;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid transparent;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Button shadow */
    transition: background-color 0.3s, box-shadow 0.3s;
}

.links-right .link:hover {
    background-color: white; /* Button hover background color */
    border: 1px solid #4B70F5; /* Button hover border */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Button hover shadow */
}

.links-right .link:hover .icon {
    filter: invert(34%) sepia(90%) saturate(1477%) hue-rotate(215deg) brightness(98%) contrast(97%);
}

.sup-title{
    margin: 0;
    padding: 0;
    font-size: medium;
    font-weight: 200;
}

.section-title {
    margin-top: 0;
    font-size: 2em;
    margin-bottom: 0.5rem;
    background: linear-gradient(to right, #4B70F5, #3ABEF9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.line-with-background {
    min-width: 80px;
    width: 10%;
    height: 5px; /* Adjust height as needed */
    background-image: url('media/line-bg.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    display: flex;
    border-radius: 5px;
    margin-bottom: 2rem;
  }

.experience-container {
    width: 70%;
    margin: 1rem 0 0 0;
    padding: 1rem;
    border-left: 4px solid #4B70F5;
    box-shadow: 1px 4px 10px 2px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.experience-container:hover {
    box-shadow: 1px 4px 10px 2px rgba(0, 0, 0, 0.15);
}

.experience-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    text-align: left;
}

.experience-logo img {
    width: 50px; /* Adjust as needed */
    height: auto;
    margin-right: 1.5rem;
    border-radius: 4px;
}

.experience-details {
    flex: 1;
    text-align: left;
}

.company-name {
    font-size: 1.3em;
    font-weight: 400;
    margin: 0;
}

.role-duration {
    font-size: .9em;
    color: #555;
    margin: 0.5rem 0;
}

.role {
    font-weight: 400;
}

.duration {
    font-style: italic;
    font-weight: 300;
}

.place {
    font-size: .7em;
    font-weight: 100;
    font-style: italic;
    color: #777;
}

.description {
    font-size: .95em;
    font-weight: 350;
    text-align: justify;
    color: #333;
    margin-bottom: 1rem;
}

.keywords {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.keyword {
    background-color: #f0f0f0;
    color: #555;
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
    font-size: 0.9em;
}

.experience-footer {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 1rem;
}

.experience-footer a {
    color: black;
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.3s;
}

.experience-footer a:hover {
    color: #4B70F5;
}

.project-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.articles-row {
    width: 100%;
    display: flex;
}


.article-cell {
    margin: 1%;
    width: 48%;
    padding: 1rem;
    border-left: 4px solid #4B70F5;
    box-shadow: 1px 4px 10px 2px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.article-cell:hover {
    box-shadow: 1px 4px 10px 2px rgba(0, 0, 0, 0.15);
}

.article-cell a {
    text-decoration: none;
    color: black;
}

.article-header {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    text-align: left;
}

.article-header img {
    max-height: 80px;
    height: auto;
    border-radius: 8px;
}

.article-title h3{
    font-size: 1.2em;
    font-weight: 400;
    margin: 0;
}

.article-title p {
    font-size: 0.9em;
    font-weight: 100;
    color: #555;
    margin: 0;
}

.article-description {
    text-align: justify;
    font-size: .95rem;
    font-weight: 200;
}

.achievements-row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.achievement-cell {
    width: 23%;
    margin: 1%;
    padding: 1rem;
    border-left: 4px solid #4B70F5;
    box-shadow: 1px 4px 10px 2px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.achievement-cell:hover {
    box-shadow: 1px 4px 10px 2px rgba(0, 0, 0, 0.15);
}

.achievement-special {
    border: 2px solid transparent;
    box-shadow: none;
}

.achievement-special:hover {
    box-shadow: none;
}

.achievement-special h3 {
    font-size: 1.5em;
    font-weight: 400;
}

.achievement-cell a {
    text-decoration: none;
    color: black;
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    text-align: left;
}

.achievement-cell a img {
    max-height: 50px;
    height: auto;
    border-radius: 8px;
}

.achievement-title h3{
    font-size: 1.2em;
    font-weight: 400;
    margin: 0;
}

.achievement-title p {
    font-size: 0.9em;
    font-weight: 100;
    color: #555;
    margin: 0;
}

.more-row {
    display: flex;
    justify-content: center;
}

.more-cell {
    padding: .5rem 1rem;
    margin: 1rem;
    box-shadow: 1px 4px 10px 2px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.more-cell:hover {
    box-shadow: 1px 4px 10px 2px rgba(0, 0, 0, 0.15);
}

.more-cell p {
    font-weight: 300;
}

.more-cell i {
    color: #4B70F5;
}

/* Start experiment */

.Contact {
    position: relative;
    width: 100%;
}
  
.get-touch-bg {
    opacity: 0.1;
    display: block;
    width: 100%;
    height: 700px;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.contact-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 70%;
    margin: 3vh 0;
}

form {
    text-align: left;
    font-size: .95em;
    font-weight: 330;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4b70f5;
    color: white;
    padding: 12px 20px;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: white;
    color: #4b70f5;
    border: 2px solid #4b70f5;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    background-image: url('media/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: .5rem 0;
}

footer p {
    color: white;
    text-align: center;
    font-size: 0.9em;
    font-weight: 300;
}

@media (max-width: 1024px) {
    section {
        width: 70%;
    }

    .intro-container {
        flex-direction: column;
        align-items: center;
    }

    .intro-text {
        margin-right: 0;
        margin-bottom: 1rem;
        text-align: center;
    }

    .intro-image {
        margin-bottom: 1rem;
    }

    .intro-links {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .links-right {
        margin-top: 16px;    
    }

    .links-right, .links-left {
        width: 100%;
        justify-content: center;
    }

    .experience-container {
        width : 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .experience-logo {
        margin-bottom: 1rem;
    }

    .experience-logo img {
        width: 50px; /* Adjust as needed */
    }

    .articles-row{
        display: block;
        justify-content: center;
    }

    .article-cell {
        width: 100%;
        margin-left: -5%;
        margin-bottom: 1rem;
    }

    .achievements-row {
        flex-wrap: wrap;
    }

    .achievement-cell {
        width: 80%;
    }

    .filler {
        display: none;
    }

    .more-row {
        flex-wrap: wrap;
    }

    .contact-container {
        width: 150%;
    }
}

@media (prefers-color-scheme: dark) {
    .links-right .link {
        background-color: green;
    }
}