body, html {
    margin: 0;
    padding: 0;
    font-family: 'ubuntu', sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 2rem auto;
    text-align: center;
}

h3 {
    font-size: 2em;
    color: #000;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.6em;
    font-weight: bold;
    color: #000;
    margin: 0;
}

h6 {
    font-size: 1.32em;
    color: #000;
    margin-top: 20px;
}

.intro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.intro-text {
    flex: 1;
    min-width: 200px; /* Adjust as needed */
    margin-right: 1rem;
    text-align: left;
}

.special {
    background: linear-gradient(to right, #4B70F5, #3ABEF9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.intro-image {
    flex: 1;
    max-width: 200px; /* Adjust as needed */
}

.intro-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.intro-links {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;
}

.links-left, .links-right {
    display: flex;
    align-items: center;
}

.links-left {
    flex: 1;
    justify-content: flex-start;
}

.links-right {
    justify-content: flex-end;
}

.intro-links .link {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    text-decoration: none;
    font-size: 1em;
    color: black;
    transition: color 0.3s;
}

.links-left .link:hover {
    color: #4B70F5;
}

.links-right .link:hover {
    color: #4B70F5;
}

.intro-links .icon {
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    margin-right: 8px;
    transition: color 0.3s;
}

.links-left .icon{
    filter: invert(34%) sepia(90%) saturate(1477%) hue-rotate(215deg) brightness(98%) contrast(97%);
}

.links-right .icon{
    filter : invert(100%) sepia(0%) saturate(7474%) hue-rotate(52deg) brightness(96%) contrast(110%)
}

.links-right .link {
    background-color: #4B70F5; /* Button background color */
    color: white; /* Button text color */
    padding: 10px 20px; /* Button padding */
    border-radius: 5px; /* Button corners */
    font-weight: bold; /* Button text weight */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Button shadow */
    transition: background-color 0.3s, box-shadow 0.3s;
}

.links-right .link:hover {
    background-color: white; /* Button hover background color */
    border: 1px solid #4B70F5; /* Button hover border */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Button hover shadow */
}

.links-right .link:hover .icon {
    filter: invert(34%) sepia(90%) saturate(1477%) hue-rotate(215deg) brightness(98%) contrast(97%);
}


.intro-bio {
    width: 100%;
    margin-top: 1rem;
}

.section-title {
    font-size: 2em;
    margin-bottom: 0.5rem;
    background: linear-gradient(to right, #4B70F5, #3ABEF9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.intro-bio p {
    text-align: justify;
    font-size: .9em;
    color: #000;
    line-height: 1.6;
}

@media (max-width: 1024px) {
    section {
        width: 90%;
    }

    .intro-container {
        flex-direction: column;
        align-items: center;
    }

    .intro-text {
        margin-right: 0;
        margin-bottom: 1rem;
        text-align: center;
    }

    .intro-image {
        margin-bottom: 1rem;
    }

    .intro-links {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .links-right {
        margin-top: 16px;    
    }

    .links-right, .links-left {
        width: 100%;
        justify-content: center;
    }
}
